<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Management System</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#addEmployee">
          Add Employee
        </button>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empList">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
      
        <td>
         
           <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editEmployee" (click)="editEmployee(employee)">Edit Employee Details</button>
            <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
      
        
    
    </tbody>
  </table>



<!-- Add employee Modal -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="empDetail">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Salary</label>
                <input type="text" formControlName="salary" class="form-control" id="salary" aria-describedby="emailHelp">
                </div>
        
         
          <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-success" (click)="addEmployee()">Add Employee</button>
          </div>



        </form>

      
      </div>
     
    </div>
  </div>
</div>


<!-- Edit employee Modal -->
<div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Employee Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="empDetail">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Salary</label>
                <input type="text" formControlName="salary" class="form-control" id="salary" aria-describedby="emailHelp">
                </div>
        
         
          <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateEmployee()">Edit Employee</button>
          </div>



        </form>
        
      </div>
    
    </div>
  </div>
</div>


</div>
